@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  max-width: 300px;
  grid-row-start: 2;
  grid-column-start: 2;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

#form_container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  justify-items: center;
}

.login_header {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}

.article_grid_container {
  padding: 10px;
}

.container {
  font-family: "Open Sans", sans-serif;
}

.article-container {
  padding: 64px 51px;
  max-width: 50em;
  margin: 0 auto;
  font-size: 1.2em;
}

.article-container img {
  /* width: 100%; */
  max-width: 50em;
}

.dark_theme {
  background: #333333 !important;
  color: white !important;
}
.dark_theme h1 {
  color: white !important;
}
.dark_theme h2 {
  color: white !important;
}
.dark_theme h3 {
  color: white !important;
}
.dark_theme h4 {
  color: white !important;
}
.dark_theme h5 {
  color: white !important;
}
.dark_theme h6 {
  color: white !important;
}

/* .dark_theme .ant-radio-button-wrapper {
  background: #333333 !important;
  color: white !important;
} */

.night_mode {
  background: #f4ecd8;
}

.dark_theme_selector.ant-radio-button-wrapper-checked {
  background: #333333 !important;
  border-color: #333333 !important;
}

.night_mode_selector.ant-radio-button-wrapper-checked {
  background: #f4ecd8 !important;
  border-color: #f4ecd8 !important;
  color: black !important;
  box-shadow: -1px 0 0 0 #ffffff !important;
}

.ant-menu-item .anticon {
  margin-right: 0px !important;
}

.article_grid_menu_icon {
  float: right;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}
